html, body {
    min-height: 100%;
	margin: 0px !important;
}

.result {
	border-left: 1px solid #000 !important;
	border-bottom: 1px solid #000 !important;
	text-align: center;
}

.row {
	display: flex !important;
}

.resultTable {
	padding: 30px !important;
	width: 100%;
	background-color: white;
	padding: 30px;
	display: block;
}

.addInfo {
	border-left: 1px solid #000 !important;
	border-bottom: 1px solid #000 !important;
	border-right: 1px solid #000 !important;
	border-top: 1px solid #000 !important;
    width: 50% !important;
    text-align: left !important;
}

.container {
    background-color: #fafafa;
	border-right: 1px solid #000 !important;
	border-top: 1px solid #000 !important;
}

.header {
	background-color: black;
	color: white;
	padding: 10px ;
	vertical-align: text-bottom;
	overflow: hidden;
}

.fill {
    min-height: 79.8%;
}

.footer {
	background-color: black;
	color: white;
	text-align:center;
}
